.index-page {
	.carousel-articles-container {
		background: $main-color;

		.slick-dots {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			padding: 10px;

			li {
				margin-left: 5px;
			}

			button {
				width: 15px;
				height: 15px;
				border: 2px solid blue;
				border-radius: 50%;
				padding: 0;
				color: transparent;
				background: none;
			}

			.slick-active button {
				background: red;
			}
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 10;
		}
		.slick-next {
			right: 0;
		}
	}

	.carousel-article {
		position: relative;

		.thumbnail {
			width: 100%;
			height: auto;
		}

		.legend {
			position: absolute;
			bottom: -50px;
			left: 0;
			right: 0;
			transition: bottom 0.5s;
			padding: 20px;
		}

		&:hover .legend {
			bottom: 0;
		}
	}
}