.index-page {
	.featured-article {
		.card {
			padding: 0;
			margin-bottom: 20px;
			height: 115px;
		}
		.card-header {
			display: flex;
			flex-direction: column-reverse;
		}
		.card-body p {
			margin-bottom: 0;
		}
		.categories {
			margin-bottom: 0;
		}
		h2 {
			font-size: 1.25em;
			line-height: 1em;
			margin-bottom: 0.25em;
			font-weight: 700;
		}

		.thumbnail-container,
		.date {
			display: none;
		}
	}
}