.card {
	.card-inner {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		height: 100%;
	}

	.card-content {
        @include respond-to($medium-width) {
            padding: 20px;
        }
	}
}