// -- Header
#main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	background: $main-color;
	text-align: center;
	
	* {
		transition: all 0.5s;
	}

	a {
		display: block;
		margin: 0 auto;
		color: #FFF;
		font-family: $logo-font-family;
		font-size: $logo-font-size;
	}

	span {
		float: left;
		margin-top: 45px;

		&.logo-prefix {
			margin-right: -25px;
		}
		&.logo-suffix {
			margin-left: -25px;
			margin-top: 50px;
		}
	}

	.avatar {
		width: 150px;
		border-radius: 50%;
		margin: 30px auto;
		display: block;
	}
}

.is-scrolled #main-header {
	a {
		font-size: 30px;
	}

	span {
		margin-top: 25px;
	}

	span.logo-prefix {
		margin-right: -15px;
	}

	span.logo-suffix {
		margin-left: -15px;
		margin-top: 30px;
	}

	.avatar {
		margin: 10px auto;
		width: 100px;
	}
}