// -- Header
#main-header {
	display: flex;

	a {
        display: block;
		color: $theme-primary-text-color;
		font-family: $logo-font-family;
		font-size: $logo-font-size;
	}
}

.is-scrolled #main-header {
	top: 0;
}