// -- Header
#main-header {
    display: flex;
    justify-content: space-between;
    
	a {
        display: block;
		color: $theme-primary-text-color;
		font-family: $logo-font-family;
		font-size: $logo-font-size;
    }

    #main-header-logo {
        width: 20%;
        margin-top: 4px;
    }

    #main-header-logo span {
        visibility: hidden;

        &.visible {
            visibility: visible;
            position: relative;

            &:last-of-type:after {
                content: ' ';
                background: #FFF;
                width: 2px;
                height: 20px;
                position: absolute;
                left: 120%;
                top: 6px;
                animation: blink-animation 1s steps(2, start) infinite;
                -webkit-animation: blink-animation 1s steps(2, start) infinite;
            }
        }
    }
    
    #main-header-contact-details {
        width: 20%;
        text-align: right;

        .icon-mail {
            color: $theme-primary-text-color;
            font-size: 30px;
        }
    }
}

.is-scrolled #main-header {
	top: 0;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}