@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans);/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.center {
  text-align: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f5f8fa;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

#main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0288D1;
  text-align: center;
}

#main-header a {
  display: block;
  margin: 0 auto;
  color: #FFF;
  font-family: "Play", sans-serif;
  font-size: 60px;
}

#main-header span {
  float: left;
  margin-top: 45px;
}

#main-header span.logo-prefix {
  margin-right: -25px;
}

#main-header span.logo-suffix {
  margin-left: -25px;
  margin-top: 50px;
}

#main-header .avatar {
  width: 150px;
  border-radius: 50%;
  margin: 30px auto;
  display: block;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 0.5em;
  color: #242424;
}

h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.75em;
  line-height: 2em;
  margin-bottom: 0.5em;
  color: #242424;
}

h2 a {
  color: #242424;
  text-decoration: none;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 0.5em;
  color: #242424;
}

.section-heading {
  background-color: #0288D1;
}

.card .card-content {
  padding: 20px;
  height: 100%;
  background: #FFF;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(204, 204, 204, 0.61);
  box-shadow: 1px 1px 5px 0px rgba(204, 204, 204, 0.61);
}

.card-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-listing-item {
  width: 50%;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin: 10px 0;
}

.form-group input[type=text] {
  border: 1px solid #CCC;
  width: 100%;
  padding: 5px 10px;
}

.article header {
  text-align: center;
}

.category-container {
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 20px;
}

.category-container .form-group {
  margin-bottom: 0;
}

