@import url(https://fonts.googleapis.com/css?family=Exo+2);/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.row .col-1 {
  width: 8.33333333%;
  padding: 0 20px 20px;
}

.row .col-2 {
  width: 16.66666667%;
  padding: 0 20px 20px;
}

.row .col-3 {
  width: 25%;
  padding: 0 20px 20px;
}

.row .col-4 {
  width: 33.33333333%;
  padding: 0 20px 20px;
}

.row .col-5 {
  width: 41.66666667%;
  padding: 0 20px 20px;
}

.row .col-6 {
  width: 50%;
  padding: 0 20px 20px;
}

.row .col-7 {
  width: 58.33333333%;
  padding: 0 20px 20px;
}

.row .col-8 {
  width: 66.66666667%;
  padding: 0 20px 20px;
}

.row .col-9 {
  width: 75%;
  padding: 0 20px 20px;
}

.row .col-10 {
  width: 83.33333333%;
  padding: 0 20px 20px;
}

.row .col-11 {
  width: 91.66666667%;
  padding: 0 20px 20px;
}

.row .col-12 {
  width: 100%;
  padding: 0 20px 20px;
}

.center {
  text-align: center;
}

.responsive-img {
  display: block;
  width: 100%;
  height: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Exo 2", sans-serif;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  position: relative;
}

h1 {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: #FFF;
  font-size: 2em;
  line-height: 2em;
}

h1 a {
  color: #f8ce34;
}

h2 {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: #FFF;
  font-size: 1.75em;
  line-height: 2em;
}

h2 a {
  color: #f8ce34;
}

h4 {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: #FFF;
  font-size: 1.5em;
  line-height: 1.92em;
}

h4 a {
  color: #f8ce34;
}

p {
  font-family: "Exo 2", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 0.5em;
  color: #FFF;
}

small {
  font-size: 0.8em;
}

a {
  color: #f8ce34;
  text-decoration: none;
}

i {
  font-style: italic;
}

table {
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

#page-footer {
  text-align: center;
  padding: 20px;
}

#page-footer p {
  margin-bottom: 20px;
}

#main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-header a {
  display: block;
  color: #FFF;
  font-family: "Play", sans-serif;
  font-size: 1.5em;
}

.is-scrolled #main-header {
  top: 0;
}

.card .card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  height: 100%;
}

.card .card-content {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin: 10px 0;
}

.form-group input[type=text] {
  border: 1px solid #CCC;
  width: 100%;
  padding: 5px 10px;
}

.index-page .featured-article .card {
  padding: 0;
  margin-bottom: 20px;
  height: 115px;
}

.index-page .featured-article .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.index-page .featured-article .card-body p {
  margin-bottom: 0;
}

.index-page .featured-article .categories {
  margin-bottom: 0;
}

.index-page .featured-article h2 {
  font-size: 1.25em;
  line-height: 1em;
  margin-bottom: 0.25em;
  font-weight: 700;
}

.index-page .featured-article .thumbnail-container,
.index-page .featured-article .date {
  display: none;
}

.article .container {
  max-width: 682.66666667px;
}

.article .thumbnail-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.article .thumbnail-container img {
  margin: 0 auto;
}

.article header {
  text-align: center;
}

.article header .date {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
}

.article header .date small {
  font-size: 0.7em;
}

.article header h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.article header .short-description {
  margin-left: 2em;
  margin-bottom: 0px;
}

.article p {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.category-container {
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 20px;
}

.category-container .form-group {
  margin-bottom: 0;
}

/*
 * This is used on listing pages such as homepage and category page.
 */

.card-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-listing-item {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background: #000;
  border-top: 1px dashed #474747;
}

.card-listing-item .date {
  margin-bottom: 0px;
  line-height: 1em;
  color: #FFF;
}

.card-listing-item h4 {
  margin-bottom: 5px;
  line-height: 1em;
}

.card-listing-item h4 a {
  color: #FFF;
}

.card-listing-item .card-body p {
  color: #8A8A8A;
}

