// Colours
$base-color: #242424;
$base-color-light: #f5f8fa;
$base-secondary-color: blue;

// Typography
$base-font-family: "Lato", sans-serif;
$heading-font-family: "Open Sans", sans-serif;
$base-font-size: 1em;
$base-line-height: 1.6em;
$base-text-spacing: 0.5em; // Used for magin bottom of typography

// Body
$body-bg: $base-color-light;