// Colours
$base-color: #888;
$base-color-light: #f5f8fa;
$base-secondary-color: blue;

// Typography
$base-font-family: "Raleway", sans-serif;
$base-font-size: 1em;
$base-line-height: 1.6em;
$base-text-spacing: 0.5em; // Used for magin bottom of typography

// Body
$body-bg: $base-color-light;
$sidebar-width: 300px;