// Mixin helpers
@mixin base-font-style() {
	font-family: $heading-font-family;
	margin-bottom: $base-text-spacing;
}
@mixin base-heading() {
	@include base-font-style();
	font-weight: 600;
	color: $heading-color;
}
@mixin heading-1() {
	@include base-heading();
	font-size: $base-font-size * 2;
	line-height: $base-line-height * 1.25;
}
@mixin heading-2() {
	@include base-heading();
	font-size: $base-font-size * 1.75;
	line-height: $base-line-height * 1.25;
}

// Reserving h3

@mixin heading-4() {
	@include base-heading();
	font-size: $base-font-size * 1.5;
	line-height: $base-line-height * 1.2;
}

@mixin p() {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: 300;
	line-height: $base-line-height;
	margin-bottom: $base-text-spacing;
	color: $paragraph-color;
}

// - Base theme
// -- Base
* {
	font-family: $base-font-family;
	font-size: $base-font-size;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: $body-bg;
	position: relative;
}

#app {
	margin-top: 165px;
}

// -- Typography
h1 {
	@include heading-1();
}

h2 {
	@include heading-2();

	a {
		color: $base-color;
	}
}

h4 {
	@include heading-4;

	a {
		color: $base-color;
	}
}

p {
	@include p;
}

small {
	font-size: 0.8em;
}

a {
	text-decoration: none;
}

i {
	font-style: italic;
}

// --Footer
#page-footer {
	background: $main-color;
	text-align: center;
	padding: 20px;

	p {
		margin-bottom: 20px;
	}
}