.article {
	.container {
		max-width: $post-container-max-width;
	}

	.thumbnail-container {
		@include container();

		img {
			margin: 0 auto;
		}
	}

	header {
		text-align: center;

		.date {
			margin-bottom: 0;
			color: rgba(0, 0, 0, 0.5);

			small {
				font-size: 0.7em;
			}
		}

		h1 {
			font-size: 2.5em;
			margin-bottom: 0;
		}

		.short-description {
			margin-left: 2em;
			margin-bottom: 0px;
		}
	}


	p {
		font-size: 1.25em;
		margin-bottom: 1em;
	}
}